body{
    background-color: #dfe1ff;
}


#textoPrincipal{
    font-size: large;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

#textoLinea{
    text-shadow: 3px 1px 2px rgb(0, 0, 0);
}